.create {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  &__container {
    height: 500px;
    width: 400px;
    -webkit-box-shadow: 0px 0px 20px -8px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 0px 0px 20px -8px rgba(0, 0, 0, 0.75);
    box-shadow: 0px 0px 20px -8px rgba(0, 0, 0, 0.75);
    padding: 40px 20px;
    border-radius: 5px;
  }
  &__container-input {
    width: 100%;
  }
  &__form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
  }
  &__input {
    width: 97%;
    height: 38px;
    border: solid;
    border: {
      width: 1px;
      radius: 5px;
      color: #999999;
    }
    margin-bottom: 20px;
    font-size: 14px;
    font-family: "Montserrat", sans-serif;
    transition: all 0.4s;
    &::placeholder {
      font-family: "Montserrat", sans-serif;
    }
    padding-left: 10px;
    &:focus {
      outline: none;
      border-color: #facd02;
    }
    &--err {
      border-color: tomato;
    }
  }
  //title
  &__title {
    text-align: center;
    margin-bottom: 35px;
    color: #343434;
    display: flex;
    justify-content: center;
    width: 100%;
  }
  &__icon {
    cursor: pointer;
    color: #434343;
    &--back {
      margin-right: auto;
    }
  }
  &__logo {
    flex: 1;
  }
  &__img {
    width: 80px;
  }
  &__btn {
    height: 40px;
    width: 100%;
    border: none;
    background-color: #facd02;
    font-weight: 400;
    font-size: 16px;
    border-radius: 5px;
    transition: all 0.4s;
    cursor: pointer;
    &:focus {
      outline: none;
      background-color: #e6bd07;
    }
  }
  &__err {
    font-size: 10px;
    position: absolute;
    z-index: 20;
    bottom: 2px;
    color: tomato;
    width: 100%;
  }
  &__main {
    width: 100%;
    position: relative;
  }
  &__have {
    margin-top: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 12px;
    color: #a7a7a7;
  }
  &__link {
    color: #a7a7a7;
  }
  &__vn {
    width: 25px;
    margin-left: 10px;
  }
}
