.login-footer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 10px;
  color: #a7a7a7;
  font-size: 12px;
}
.login {
  &__forgot {
    margin-bottom: 10px;
    width: 98%;
    display: flex;
    justify-content: flex-end;
  }
  &__link {
    color: #a7a7a7;
    text-decoration: underline;
    font-size: 12px;
  }
}
